<h2>$ Sala sław $</h2>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Ilość zwycięstw</th>
            <th>Imię Wojownika</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>
                8
            </td>
            <td>
                Tester
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>
                18
            </td>
            <td>
                Testerek
            </td>
        </tr>
    </tbody>
</table>