<h2>Zarejestrój swojego wojownika</h2>
<h3>Zaplanuj umiejętności Twojego wojownika</h3>
<p>Trudność polega na tym, że do rozdania jest łącznie 10 punktów pomiędzy umiejętności. Każda umiejętność musi wynosić min 1, łącznie statystyki nie mogą wynosić nie mniej i nie więcej niż 10.</p>
<form action=""></form>